body {
  background-image: url("https://4kwallpapers.com/images/wallpapers/zenitsu-agatsuma-5k-2560x1440-16938.jpg");

}
body {
  background-image: url("https://4kwallpapers.com/images/wallpapers/zenitsu-agatsuma-5k-2560x1440-16938.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

